#proxmox_host             = "your-proxmox-ip-address"
#proxmox_api_token_id     = "user@pve!tag"
#proxmox_api_token_secret = "api-token-secret"
#proxmox_node             = "your-proxmox-node_name"
#proxmox_pool             = "your-template-pool"
